---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import { Card } from 'accessible-astro-components'
import Member from '../components/Member.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-4xl">Areas</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:content-copy" title="Synthetic Data">
          To alleviate privcy issues of high-quality healthcare data, we develop techniques for synthetic data generation and evaluation.
        </Feature>
        <Feature icon="mdi:lock-off" title="Privacy">
          To protect the privacy of patients and hospital data, we investigate cutting edge solutions for privacy in NLP and allied areas like federated learning.
        </Feature>
        <Feature icon="mdi:video-wireless" title="Multimodality">
          Healthcare data is available in multiple modalities - text, audio, video, tabular, etc. We develop methods to integrate different modalities in our solutions.
        </Feature>
        <!-- <Feature icon="mdi:eslint" title="ESLint">
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Blog">
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Markdown & MDX">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Dark mode">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:cog" title="Design System">
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
          Excellent lighthouse scores means your website will load faster and get better SEO rankings.
        </Feature> -->
      </div>
    </div>
  </section>

  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-2 gap-32 md:grid-cols-1">
        <div class="space-content">
          <h2 class="mb-16 text-4xl">News</h2>
          <Accordion>
            <AccordionItem header="EMNLP 2023">
              <p>
                Our paper <b>Semantic Similarity Models for Depression Severity Estimation</b> was accepted at EMNLP 2023! See <a href="/publications">publications</a> for more info!
              </p>
            </AccordionItem>
            <AccordionItem header="NeurIPS 2022 Workshop">
              <p>
                Two papers accepted at the PAI4MH workshop at NeurIPS 2022. See <a href="/publications">publications</a> for more info!
              </p>
            </AccordionItem>
          </Accordion>
        </div>
  </section>


  <section class="mb-12 mt-32">
    <div class="container">
      <h2 class="mb-16 text-4xl">Team</h2>
      <div class="grid grid-cols-2 gap-32 md:grid-cols-1">
      <!-- <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3"> -->
        <div class="space-content">
            <Member
            name="Iryna Gurevych"
            designation="Principal Investigator"
            url="https://www.informatik.tu-darmstadt.de/ukp/ukp_home/head_ukp/index.en.jsp"
            img="https://www.informatik.tu-darmstadt.de/media/ukp/pictures_1/people_1/Gurevych_Iryna_500x750_415x415.jpg"
            >
            </Member>
            <Member
            name="Hiba Arnout"
            designation="Postdoc"
            url="https://hibaarnaout.com/"
            img="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=sy1z_I4AAAAJ&citpid=13"
            >
            </Member>
            <Member
            name="Anmol Goel"
            designation="PhD Student"
            url="https://goel.ai"
            img="https://www.informatik.tu-darmstadt.de/media/ukp/pictures_1/people_1/PXL_20230909_100029664.PORTRAIT11_415x415.jpg"
            >
            </Member>
            <Member
            name="Aishik Mandal"
            designation="PhD Student"
            url="https://jitaishik.github.io/"
            img="https://www.informatik.tu-darmstadt.de/media/ukp/pictures_1/people_1/PP_AISHIK_12092022_1_415x0.jpg"
            >
            </Member>
        </div>
  </section>
  <!-- <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-4xl">Collaborations</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter logo="https://israelxp.com/wp-content/uploads/2020/11/logo-bar-ilan-university.png" />
        <!-- <Counter count="17" title="Accessible" sub="Components" /> -->
        <Counter logo="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Logo-Goethe-University-Frankfurt-am-Main.svg/1920px-Logo-Goethe-University-Frankfurt-am-Main.svg.png" />
        <Counter logo="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/UT_Hortz.svg/1920px-UT_Hortz.svg.png"/>
        <Counter logo="https://upload.wikimedia.org/wikipedia/en/9/9a/Max_Planck_Society_logo.svg"/>
      </div>
    </div>
  </section>
</DefaultLayout>
