---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import { Card } from 'accessible-astro-components'
import Member from '../components/Member.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="mb-16 mt-16">
    <div class="container">
        <div class="space-content">
          <h2 class="mb-16 text-5xl text-center">News</h2>
          <div class="p-4 text-base text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300" role="alert">
            Our paper <em>Semantic Similarity Models for Depression Severity Estimation</em> was accepted at EMNLP 2023! See <a href="/publications">publications</a> for more info!
          </div>
          <div class="p-4 text-base text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300" role="alert">
            Two papers accepted at the PAI4MH workshop at NeurIPS 2022. See <a href="/publications">publications</a> for more info!
          </div>
          

        </div>
        </div>
  </section>
  
  <section class="mt-16 mb-16">
    <div class="container">
      <h2 class="mb-16 text-5xl text-center">Areas</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:content-copy" title="Clinical Applications">
          NLP in mental health offers clinical advancements through efficient analysis of patient narratives, aiding diagnostics and treatment and improving patient-centered care. We emphasize ethical considerations and data security for responsible deployment in clinical settings.
        </Feature>
        <Feature icon="mdi:lock-off" title="Privacy & Synthetic Data">
           Develop NLP models capable of operating on decentralized, synthetic datasets and incorporate differential privacy to ensure individual privacy while maintaining the integrity of mental health research and applications.
        </Feature>
        <Feature icon="mdi:video-wireless" title="Multimodality">
          Explore how combining textual information with visual and auditory cues can provide a more comprehensive understanding of users' mental states. Develop and assess multimodal models that leverage NLP techniques for a holistic approach to mental health assessment and intervention.
        </Feature>
      </div>
    </div>
  </section>


  <section class="mb-16 mt-16">
    <div class="container">
      <h2 class="mb-16 text-5xl text-center">Team</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/ig.jpg" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Iryna Gurevych</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Principal Investigator</span>
            </div>
          </div>
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/ha.jpeg" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Hiba Arnaout</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Postdoc</span>
            </div>
          </div>
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/ag.jpg" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Anmol Goel</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">PhD Student</span>
            </div>
          </div>
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/am.jpeg" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Aishik Mandal</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">PhD Student</span>
            </div>
          </div>
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/tm.jpeg" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Tobias Mayer</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Former Postdoc</span>
            </div>
          </div>
          <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/nw.jpeg" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Neha Warikoo</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Former Postdoc</span>
            </div>
          </div>

        </div>
    </div>
  </section>

  <section class="mt-16 mb-16">
    <div class="container">
      <h2 class="mb-16 text-5xl text-center">Collaborations</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter logo="/logo-bar-ilan-university.png" />
        <Counter logo="/1920px-Logo-Goethe-University-Frankfurt-am-Main.svg.png" />
        <Counter logo="/UT_Hortz.svg.png"/>
        <Counter logo="/Max_Planck_Society_logo.svg"/>
      </div>
    </div>
  </section>


  <section class="mt-16 mb-16">
    <div class="container">
      <h2 class="mb-16 text-5xl text-center">Funding</h2>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div>
            <a href="https://intertext.ukp-lab.de/">
            <img class="h-32 max-w-full rounded-lg object-scale-down" src="/erc.png" alt="">
            </a>
        </div>
        <div>
            <a href="https://www.tu-darmstadt.de/forschen/exzellente_forschung/news_details_de_en_414208.en.jsp">
            <img class="h-24 max-w-full rounded-lg object-scale-down" src="/loewe.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="https://gu.athene-center.de/projekte/privacy-aware-domain-adaptive-medical-nlp">
            <img class="h-24 max-w-full rounded-lg object-scale-down" src="/Logo_of_ATHENE.png" alt="">
            </a>
        </div>

    </div>
    

    </div>
  </section>

</DefaultLayout>
