---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="flex space-x-4 items-center justify-center">
      <p>
        <!-- <div> {currentYear} </div> -->
        <div> <a href="https://www.informatik.tu-darmstadt.de/ukp/impressum.en.jsp">Legal Notice</a> </div>
        <div><a href="https://www.tu-darmstadt.de/datenschutzerklaerung.en.jsp">Privacy Policy</a> </div>
        <div><a href="https://www.informatik.tu-darmstadt.de/ukp/ukp_home/index.en.jsp">UKP Lab</a></div>
        <div><a href="https://www.tu-darmstadt.de/index.en.jsp">TU Darmstadt</a></div>
      </p>
    </div>
    <div class="flex space-x-4 items-center justify-center">
      <p>
        <div class="text-xs"> Built with <a href="https://github.com/markteekman/accessible-astro-starter">Astro</a> </div>
      </p>
    </div>
  </section>
</footer>
