---
const { name, designation, url, img } = Astro.props
---


<div class="flex items-center gap-4">
  <img class="w-36 h-36 rounded-full" src=`${img}` alt="">
  <div class="font-medium dark:text-white">
    <a href=`${url}`><div>{name}</div></a>
      <div class="text-sm text-gray-500 dark:text-gray-400">{designation}</div>
  </div>
</div>
